<div class="main-container">
    <mat-card class="signIn-card">
        <mat-card-header class="signIn-logo">
            <img src="/assets/img/logo.svg" />
            <span class="signIn-title">Sign in to <span class="signIn-title-logo">Compete</span> </span>
        </mat-card-header>
    
        <mat-card-content class="signIn-form">
            
            <form [formGroup]="profileForm" (ngSubmit)="submit()">
                <span class="signIn-username">Username or email address</span>
                <input formControlName='username' type="text" required/>

                <span class="signIn-password">Password <a href="">Forgot Password ?</a> </span>
                <input formControlName='password' type="password" required/>

                <button mat-button class="signIn-button" type="submit" [disabled]="!profileForm.valid">Sign In</button>
            </form>

            <div *ngIf='authFailed' class="authFailed"> Authentification Failed</div>

            <div class="logIn-card">
                <span class="logIn-card-content">New to Compete ?  <a href=""> Create an account</a> </span>
            </div>

        </mat-card-content>
    </mat-card>
    <app-quick-link></app-quick-link>
</div>
