<div class="main-container">
    <mat-card class="signIn-card">
        <mat-card-header class="signIn-logo">
            <img src="/assets/img/logo.svg" />
            <span class="signIn-title">Sign in to <span class="signIn-title-logo">Compete</span> </span>
        </mat-card-header>
    
        <mat-card-content class="signIn-form">
            <span class="signIn-username">Username or email address</span>
            <input type="email" required/>

            <span class="signIn-password">Password <a href="">Forgot Password ?</a> </span>
            <input type="password" required/>

            <button mat-button class="signIn-button">Sign In</button>

            <div class="logIn-card">
                <span class="logIn-card-content">New to Compte ?  <a href=""> Create an account</a> </span>
            </div>

        </mat-card-content>
    </mat-card>
    <app-quick-link></app-quick-link>
</div>
