<div class="main-container">
  <mat-card class="register-card">
      <mat-card-header class="register-logo">
          <img src="/assets/img/logo.svg" />
          <span class="register-title">Sign up to <span class="register-title-logo">Compete</span> </span>
      </mat-card-header>
  
      <mat-card-content class="register-form">
          
          <form [formGroup]="profileForm" (ngSubmit)="submit()">
              <span *ngIf="activeSection==0" class="register-name">Name</span>
              <input *ngIf="activeSection==0" formControlName='name' type="text" required/>

              <span *ngIf="activeSection==1" class="register-f-name">First Name</span>
              <input *ngIf="activeSection==1" formControlName='first_name' type="text" required/>

              <span *ngIf="activeSection==2" class="register-username">Username</span>
              <input *ngIf="activeSection==2" formControlName='username' type="text" required/>

              <span *ngIf="activeSection==3" class="register-email">Email</span>
              <input *ngIf="activeSection==3" formControlName='email' type="email" required/>

              <span *ngIf="activeSection==4" class="register-password">Password</span>
              <input *ngIf="activeSection==4" formControlName='password' type="password" required/>

              <button *ngIf="activeSection==5" mat-button class="register-button" type="submit" [disabled]="!profileForm.valid || isWorking">Sign Up</button>
          </form>

          <div *ngIf='registerFailed' class="registerFailed"> Registration Failed</div>

          <div *ngIf='registerSuccessed' class="registerSuccessed"> Registration Successed</div>
          <div class="navigation-controls">
            <button mat-button class="go-back" [disabled]= "activeSection==0" (click)="previousSection()"> < Back </button>
            <button mat-button class="go-next" [disabled]= "activeSection==5 || activeSectionFilled()" (click)="nextSection()"> Next > </button>
          </div>
      </mat-card-content>
  </mat-card>

  <div class="logIn-card">
    <span class="logIn-card-content">Have you an account ?  <a href=""> Login now !</a> </span>
  </div>
  
  <app-quick-link></app-quick-link>
</div>
