<mat-toolbar class="navbar">
    
    <img src="/assets/img/logo.svg" />
    
    <span class="logo-name">Compete </span>

    <span> <a href='#' > About </a> </span>

    <span> <a href='#' > Services </a> </span>

    <span> <a href='#' > CyberGames </a> </span>
    <span class="example-spacer"></span>
    <button mat-button>
        <div  class="user">
            <img class="user-logo" src="/assets/img/logo.svg"/>
            <div class='user-details'>
                <span class="user-name"> Isaac NDEMA</span>
                <span class="user-description"> Student </span>
            </div>
        </div>
    </button>
</mat-toolbar>
  