<mat-toolbar class="navbar">
    
    <img src="/assets/img/logo.svg" />
    
    <span class="logo-name">Compete </span>

    <ng-container *ngFor="let link of links">
        <span *ngIf="activeLink==link.index; else link_inactive" > <a class="activeLink" href='#' (click)='loadPage(link.index); false' > {{link.name}} </a> </span>
        <ng-template #link_inactive> 
            <span> <a href='#' (click)='loadPage(link.index); false'> {{link.name}} </a> </span>
        </ng-template>
    </ng-container>

    <span class="example-spacer"></span>
    <span> Your IP is <strong> {{user.location.ip}}, {{user.location.country}}, </strong> lat={{user.location.latitude}}, long={{user.location.longitude}}</span>
    <span class="example-spacer"></span>
    <button mat-button>
        <div  class="user">
            <img class="user-logo" src="/assets/img/logo.svg"/>
            <div class='user-details'>
                <span class="user-name"> {{user.name}}</span>
                <span class="user-description"> {{user.type}} </span>
            </div>
        </div>
    </button>
</mat-toolbar>
  