<mat-toolbar class="navbar">
    
    <img src="/assets/img/logo.svg" />
    
    <span class="logo-name">Compete </span>

    <ng-container *ngFor="let link of links">
        <span *ngIf="activeLink==link.index; else link_inactive" > <a class="activeLink" href='#' (click)='loadPage(link.index); false' > {{link.name}} </a> </span>
        <ng-template #link_inactive> 
            <span> <a href='#' (click)='loadPage(link.index); false'> {{link.name}} </a> </span>
        </ng-template>
    </ng-container>

    <span class="example-spacer"></span>
    <span *ngIf='user.location.ip!=""; else loading_location' > Your IP is <strong> {{user.location.ip}}, {{user.location.city}}, </strong> {{user.location.isp}}</span>
    <ng-template #loading_location>
        <span class="loadingGeolocalisation"> Loading Location informations <mat-spinner diameter="20"></mat-spinner> </span>
    </ng-template>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu" #menuTrigger>
        <div class="user" *ngIf='user.name!=""; else loading_user'>
            <img class="user-logo" src="/assets/img/logo.svg"/>
            <div class='user-details'>
                <span class="user-name"> {{user.name}}</span>
                <span class="user-description"> {{user.type}} </span>
            </div>
        </div>

        <ng-template #loading_user>
            <div class="user">
                <img class="user-logo" src="/assets/img/logo.svg"/>
                <div class='user-details'>
                    <span class="user-name"> Loading ... </span>
                    <span class="user-description"> Loading ... </span>
                </div>
            </div>
        </ng-template>
    </button>

    <mat-menu #menu="matMenu">
        <app-account-popup></app-account-popup>
    </mat-menu>

</mat-toolbar>
  