<div class="account-paper-container-primary">
    <div class="account-paper-arrow"></div>
    <div class='account-paper-container'>
        <div class="account-paper-header">
            <div class="account-paper-title">
                <img class="user-logo" src={{img}}/>
                <span> Hi, <strong>{{username}}</strong></span>
            </div>
            <div class="account-paper-header-title-button">
                <button mat-button (click)="manageAccount();false"> Manage your account</button>
            </div>
            
        </div>

        <div class="account-paper-actions">
            <button mat-button (click)="changeAccount();false"> Use another account</button>
            <button mat-button (click)="logout();false"> Log out</button>
        </div>
    </div>
</div>