<div class="game-container">
    <section class="available-events">
        <h2 class="available-events-title">Available events</h2>
        <mat-accordion class="game-headers-align" multi>
            <mat-expansion-panel *ngFor="let game of available_games">
                <mat-expansion-panel-header>
                    <mat-panel-title class="game-title">
                       {{game.title}}
                    </mat-panel-title>
                    <mat-panel-description class="game-date">
                        <span>
                            {{game.date}} @ {{game.state.deploy}} 
                            <span class="game-status-complete">
                                ({{game.state.complete}})
                            </span> 
                        </span>
                        <button mat-button color="primary">Compete</button>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p class="game-description" [innerHTML]="game.description"></p>
                <hr class="game-separation"/>
                <div>
                    <strong>Visibility : </strong> {{game.visibility}}
                </div>
                <hr class="game-separation"/>
                <div>
                    <strong>Competition Type : </strong> {{game.profil_type}}
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </section>

    <section class="your-events">
        <h2 class="your-events-title">Your events</h2>
        <mat-accordion class="game-headers-align" multi>
            <mat-expansion-panel *ngFor="let game of your_games">
                <mat-expansion-panel-header>
                    <mat-panel-title class="game-title">
                        {{game.title}}
                    </mat-panel-title>
                    <mat-panel-description class="game-date">
                        <span>
                            {{game.date}} @ {{game.state.deploy}} 
                            <span class="game-status-complete">
                                ({{game.state.complete}})
                            </span> 
                        </span>
                        <button mat-button color="primary">Compete</button>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p class="game-description" [innerHTML]="game.description"></p>
                <hr class="game-separation"/>
                <div>
                    <strong>Team : </strong> {{game.team}}
                    <br>
                    <span style="margin-left:3.2em;">( {{game.email}}, {{game.profil_type}} )</span>
                </div>
                <hr class="game-separation"/>
                <div>
                    <strong>Join code : </strong> {{game.join_code}}
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </section>
</div>